{% extends 'base.html' %}


{% block content %}

<form method="post" style="width: 400px; margin: auto ; margin-top: 40px;">
    {% csrf_token %}
    <h4>Регистрация</h4>
    <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Логин</label>
        <input name = "username" type="text" class="form-control" id="exampleInputUsername1" aria-describedby="UsernameHelp">
        <p style="color: red;">{{errors}}</p>
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Почта</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Регистрация</button>
  </form>
{% endblock content %}
    
